ul{
font-size:15px;
list-style-type: none;
margin-top:10px;
padding:5px;
text-align:right;
}
li{
float: right;
float: 0;
margin-right:80px;
}
li a{
color: rgb(49, 50, 48);
display: block;
text-align: center;
text-decoration: none;
}
li a:hover{
background-color: #32f4c748;
padding: 5px;
border-radius: 5px;
}
h1{
font-family:  "Lucida" Grande, sans-serif;
font-size: 30px;
padding-left: 100px;
letter-spacing:0.5cap;
margin-top: 20px;
}
.img1{
margin-top:10px;
margin-left:60px;
height: 100px;
width: 200px;
}
h2{
margin-top: 10px;
font-size: 20px;
margin-left: 50px;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.p1{
margin-top: 10px;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
margin-left:50px;


}
.img2{
margin-top: 25px;
position: relative;
height: 300px;
width: 400px;
margin-left: 190px;
background-image: url(image/Adidas\ 5.jpeg);
background-size: cover;
}
.img3{
mix-blend-mode: screen;
position: absolute;
height: 300px;
width: 400px;
top: 0px;
left:0px;
margin-left: 198px;
margin-top: 349px;
background-image: url(image/splash\ .jpg);
background-position: center;
background-size: cover;
}
.img4{
background-image: url(image/Adidas\ 1.jpg);
height: 800px;
width: 650px;
float: right;
margin-top: -300px;
margin-right: 0px;
background-repeat: no-repeat;
}
.container {
margin-left: 100px;
display: grid;
grid-template-columns:70% 70% 70%;
align-items: center;
}
.container1 {
margin-left: 100px;
display: grid;
grid-template-columns:35% 35% 35%;
align-items: center;
}
.container2 {
margin-left: 100px;
display: grid;
grid-template-columns:35% 35% 35%;
align-items: center;
}
.Contact-us{
background-color: #f4f4f4;
color: white;
font-family: 'Arial', sans-serif;
border: 0px;
width: 98%;
height: 40%;
background-image: linear-gradient(rgb(13, 193, 253), rgb(234, 92, 241));
}
header {
background-color: #333;
color: #fff;
padding: 10px;
text-align: center;
}
.row,.column{
    display: flex;
    margin-left: 40px;
}
button{
    background-color: cornflowerblue;
    color: #f4f4f4;
    border: 0px;
    padding: 4px;
    border-radius: 2px;
}
